body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: .7;
  padding: 5px;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 5px;
}

.jumbotron {
  text-align: left;
  background-size: cover;
  color: rgb(48, 47, 47);
}

.display-3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 80px;
}

.lead {
  font-size: 19px;
  line-height: .5;
  font-weight: lighter;
}

.lead2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: .6;
}

.lead3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 30px;
  line-height: .6;
}


.eventName{
  white-space: pre-wrap;
  color: #000000;
}

.time-block{
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 60px;
  border: 1px double white;
}

.hour {
  background-color: #a58b73;
  color: #ffffff;
  padding-top: 20px;
}
.past {
  background-color: #e2e7eb;
  color:  rgb(19, 19, 19);
}

.present {
  background-color: #f9faf9;
  color: rgb(19, 19, 19);
}

.future {
  background-color: #f8f8d5;
  color:  rgb(19, 19, 19);
}

.saveButton {
  background-color: #56614c;
  color: white;
}

.saveButton i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

#clearButtonContainer {
  margin-top: 25px;
  text-align: center;
}

@media (max-width: 768px) {
  .hour {
    width: 20%;
  }

  .eventText {
    width: 60%;
  }

  .saveButton {
    width: 20%;
  }

  .display-3 {
    font-size: 40px;
  }

  .lead2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: .1;
  }
  
  .lead3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
    line-height: .4;
    }

}

